{% extends "layout.html" %}

{% block title %}
    BlueprintAI
{% endblock %}

{% block body %}
    <div class="container">
        <div class="buttons">
            <form action="/building" method="post">
                <button type="submit" class="btn btn-dark" name="takeQuiz" id="takeQuiz">Take Quiz Again</button>
                <button type="submit" class="btn btn-secondary" name="logout" id="logout">Logout</button>
            </form>
        </div>
        <h1 class="text-center">Is this what you pictured?</h1>
        <img src="{{ image_path }}" alt="Generated Building Image" class="img-fluid container-img mx-auto d-block rounded">
    </div>
    <style>
        body {
            font-family: "Courier New", monospace;
            background-color: gainsboro;
        }

        .container {
            margin: 20px auto;
            padding: 0;
        }

        .container-img {
            width: 65%;
        }

        .rounded {
            border-radius: 15px;
        }

        .buttons {
            text-align: right;
        }

        .btn {
            margin: 5px;
        }
    </style>
{% endblock %}
